<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" type="image/ico" href="/images/mast-logo.ico" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/status.css">
    <!-- media queries -->

    <script src="/js/index.js" type="module" defer></script>

    <title>M.A.S.T. - Mergers and Acquisitions Scraping Tool</title>
</head>

<body id="home-page-body">
    <%- include("../partials/header") %>
        <%- body %>
            <%- include("../partials/footer") %>
</body>



</html>