<% layout("/layouts/boilerplateHome.ejs") %>

    <main id="home-content">
        <h1>Welcome, XYZ</h1>

        <section class="system-status">
            <div class="system-status-title">
                <h1>System Status:</h1>
            </div>

            <button class="system-status-collapse">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
                </svg>

            </button>

            <div class="system-alerts-grid">
                <div class="system-alert">
                    <div class="system-alert-status">
                        <div class="system-light system-light-red"></div>
                    </div>
                    <div class="system-alert-type">
                        Database Connection
                    </div>
                </div>

                <div class="system-alert">
                    <div class="system-alert-status">
                        <div class="system-light system-light-green"></div>
                    </div>
                    <div class="system-alert-type">
                        Scraping Bot
                    </div>
                </div>

                <div class="system-alert">
                    <div class="system-alert-status">
                        <div class="system-light system-light-yellow"></div>
                    </div>
                    <div class="system-alert-type">
                        Logging System
                    </div>
                </div>
            </div>


        </section>
    </main>