<% layout("/layouts/boilerplateHome.ejs") %>

    <main id="home-content">


        <section id="system-status" class="status-container">
            <div class="status-title">
                <h1>System Status:</h1>
            </div>

            <button class="refresh" state="to-refresh" type="system-status">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </button>

            <button class="min-max" state="to-min">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
                </svg>
            </button>



            <div class="alerts-grid">
                <div class="alert" type="database-connection">
                    <div class="alert-status">
                        <div class="system-light system-light-red"></div>
                    </div>
                    <div class="system-alert-name">
                        Database Connection
                    </div>
                </div>

                <div class="alert">
                    <div class="alert-status" type="scraping-bot">
                        <div class="system-light system-light-green"></div>
                    </div>
                    <div class="system-alert-name">
                        Scraping Bot
                    </div>
                </div>

                <div class="alert">
                    <div class="alert-status" type="logging-system">
                        <div class="system-light system-light-yellow"></div>
                    </div>
                    <div class="system-alert-name">
                        Logging System
                    </div>
                </div>
            </div>

            <div class="status-updated-time">
                <p>Last updated: <span class="minute">0</span> minute(s) ago</p>
            </div>
        </section>

        <section id="source-website-status" class="status-container">
            <div class="source-website-status-title status-title">
                <h1>Source Website Status:</h1>
            </div>

            <button class="refresh" state="to-refresh" type="website-status">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </button>

            <button class="min-max" state="to-min">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
                </svg>
            </button>

            <div class="alerts-grid">

            </div>

            <div class="status-updated-time">
                <p>Last updated: <span class="minute">0</span> minute(s) ago</p>
            </div>
        </section>
    </main>