/* ---- START ---- Content Container style */
.content-container {
  padding: 0.75rem;
  background-color: var(--container-bg);
  display: flex;
}

.content-container-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  background-color: var(--title-gray);
  width: 97%;
}

.content-container-title h1 {
  color: #fff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.content-container .sub-title {
  padding: 0.75rem 1rem 0.5rem;
  width: 100%;
  font-size: 2.2rem;
  font-weight: bold;
  background-color: var(--subtitle-gray);
}

.content-container-btns button {
  width: 3.8rem;
  height: 4.2rem;
  position: absolute;
  cursor: pointer;
  color: var(--title-gray);
}

.content-container button.min-max[state="to-max"] {
  transform: rotate(180deg);
  transition: transform 500ms ease-in;
}

.content-container button.min-max[state="to-min"] {
  transition: transform 500ms ease-in;
}

.content-container:has(.alerts-grid[state="collpased"]) {
  height: 4rem;
}

.content-container button.refresh[state="refreshed"] svg[allow-spin="false"] {
  animation: rotate360 1s linear infinite;
}

.content-container button.refresh svg[allow-spin="true"] {
  animation-play-state: paused;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.min-max.left-right {
  top: 0.7rem;
  right: 0.9rem;
}

button.refresh.left-right {
  top: 0.7rem;
  right: 5.2rem;
}

button.min-max.right-left {
  top: 0.7rem;
  left: 0.9rem;
}

button.refresh.right-left {
  top: 0.7rem;
  left: 5.2rem;
}
/* ---- END ---- Content Container style */

/* ---- START ---- loading bar style */
.loading-bar[state="active"] {
  width: 80%;
  height: 4rem;
  background: #ddd;
  /* border-radius: 1rem; */
  border: 0.2rem solid #fff;
  overflow: hidden;
}

.loading-bar[state="active"]::before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  /* border-radius: 0.8rem; */
  background: linear-gradient(to right, rgb(60, 16, 83), rgb(173, 83, 137));
  /* background: linear-gradient(to right, #39f436, #005e38); */
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

/* ---- END ---- loading bar style */
