/* ---- START ---- shared graph ---- */
.graph-container {
  width: 100%;
  position: relative;
  flex-direction: column;
}

#daily-transaction-graph .graph-title {
  width: 99%;
}

#daily-transaction-graph {
  grid-column: 1 / -1;
}

#daily-transaction-graph .graph-title {
  transform: translateX(-1.25%);
}

#daily-transaction-graph .graph-title h1 {
  padding-left: 1.5rem;
}

/* ---- END ---- shared graph ---- */
