#source-website-setting-content {
  width: 120rem;
  margin: 0 auto;
  background-color: rgb(129, 144, 168);
  height: calc(100vh - var(--headerHeight));
}

#source-website-list {
  width: 30%;
  height: 100%;
  padding: 2rem;
  font-size: 2rem;
  line-height: 1.5;

  overflow: auto;
  box-sizing: border-box;

  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px #ccc;
}

#source-website-list ul {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  padding-left: 1rem;
}

#source-website-list ul li {
  list-style: none;
  padding: 1rem 0;

  display: inline-block;
  color: rgb(65, 65, 65);
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

#source-website-list ul li:hover {
  background-color: rgb(73, 162, 252);
  color: aliceblue;
  cursor: pointer;
  transform: scale(1.1);
}

#source-website-list ul li:active {
  transform: scale(1.05);
}

#source-website-list ul li[active="true"] {
  background-color: rgb(115, 115, 115);
  transform: scale(1.1);
}

#source-website-list ul li p.website-name {
  border: 0.1rem solid rgb(116, 115, 115);
  padding-left: 1rem;
  transform: translateX(-1rem);
}

#source-website-list ul li:hover p.website-name {
  padding-left: 1.5rem;
}
