/* ---- START ---- shared status ---- */
.status-container {
  padding: 0.75rem;

  min-width: 36rem;
  max-width: 65rem;
  background-color: rgb(209, 209, 209);

  position: relative;

  display: flex;
  flex-direction: column;
}

.status-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  background-color: rgb(70, 70, 70);
  width: 97%;
}

.status-title h1 {
  color: #fff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.status-container button.min-max {
  width: 3.6rem;
  position: absolute;
  cursor: pointer;

  color: rgb(70, 70, 70);
}

.alerts-grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.alert {
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
  width: 25rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 0.25rem;
}

.status-updated-time {
  padding-top: 0.5rem;
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.status-updated-time p {
  font-size: 1.2rem;
  font-style: italic;
}
/* ---- END ---- shared status ---- */

/* ---- START ---- system status ---- */
#system-status .status-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  background-color: rgb(70, 70, 70);
  transform: translateX(-2.5%);
  width: 97%;
}

#system-status .status-title h1 {
  padding-left: 1.5rem;
}

#system-status button.min-max {
  top: 0.7rem;
  right: 0.9rem;
}

.system-alert-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.system-light {
  /* circle */
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  /* border */
  border: 1.5px solid grey;
}

.system-light-green {
  /* light */
  background: rgba(47, 204, 52, 0.7);
  /* inner lights */
  box-shadow: rgba(47, 204, 52, 0.7) 0 0 15px,
    inset rgba(255, 255, 255, 0.5) -1px 2px 1px,
    inset rgba(20, 20, 20, 0.2) 0 -10px 15px;
}

.system-light-yellow {
  /* light */
  background: rgba(244, 240, 12, 0.915);
  /* inner lights */
  box-shadow: rgba(244, 240, 12, 0.915) 0 0 15px,
    inset rgba(255, 255, 255, 0.5) -1px 2px 1px,
    inset rgba(20, 20, 20, 0.2) 0 -10px 15px;
}

.system-light-red {
  /* light */
  background: rgba(254, 35, 35, 0.926);
  /* inner lights */
  box-shadow: rgba(251, 8, 8, 0.817) 0 0 15px,
    inset rgba(255, 255, 255, 0.5) -1px 2px 1px,
    inset rgba(20, 20, 20, 0.2) 0 -10px 15px;
}

/* ---- END ---- system status ---- */

/* ---- START ---- website status ---- */
#source-website-status {
  text-align: end;
}

#source-website-status .status-title {
  transform: translateX(6%);
}

#source-website-status button.min-max {
  top: 0.7rem;
  left: 0.9rem;
}

#source-website-status .status-title h1 {
  padding-right: 1.5rem;
}

.source-website-alert-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.source-website-light {
  width: 1.8rem;
  height: 1.8rem;
  background: #cd1a1a;
  border-radius: 50%;
}

.source-website-light-red {
  background: rgba(254, 35, 35, 0.926);
  box-shadow: 0 0 50px rgb(255, 0, 0);
}

.source-website-light-yellow {
  background: rgba(199, 196, 6, 0.915);
  box-shadow: 0 0 50px rgb(222, 255, 137);
}

.source-website-light-green {
  background: rgba(47, 204, 52, 0.7);
  box-shadow: 0 0 50px rgb(172, 255, 172);
}
/* ---- END ---- website status ---- */
