@import "root.css";

/* specific styles */
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    178.6deg,
    rgb(20, 36, 50) 11.8%,
    rgb(124, 143, 161) 83.8%
  );

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  padding: 1rem;
  height: var(--headerHeight);
  width: 100%;

  display: flex;
  justify-content: space-between;
  /* background-color: #381a39; */
  background: linear-gradient(to LEFT, rgb(173, 83, 137), rgb(60, 16, 83));
}

main {
  padding: 3rem 1.5rem;
  max-width: 120rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 8rem;
}

/* ---- START ---- header nav bar user action  ---- */
.nav-bar-actions {
  display: flex;
}

.nav-bar-item {
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  margin-top: 0.75rem;
}

.user-profile {
  margin-right: 1rem;
}

.nav-bar-item .nav-bar-icon:hover {
  opacity: 100%;
}

.nav-bar-item .nav-bar-icon:active {
  transform: scale(0.95);
}

.nav-bar-icon {
  width: 5rem;
  border-radius: 50%;
  border: 0.3rem solid;
  color: #fff;
  opacity: 50%;
  cursor: pointer;
}

.nav-bar-description p {
  color: #fff;
  font-size: 1.2rem;
  padding-top: 0.2rem;
  white-space: pre-wrap;
  text-align: center;
}

/* ---- END ---- header nav bar user action  ---- */
