/* @import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Azeret+Mono:wght@100;200;300;400;500&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;

  --main-orange: #f25c05;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
} */

@import "root.css";


/* specific styles */
html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #f1f1f1; */
  background: linear-gradient(
    178.6deg,
    rgb(20, 36, 50) 11.8%,
    rgb(124, 143, 161) 83.8%
  );

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  padding: 1rem;
  height: 12rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: #381a39;
}

main {
  padding: 1.5rem;
  max-width: 120rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 8rem;
}

/* ---- START ---- header profile  ---- */
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-right: 1rem;
}

.user-profile .user-icon:hover {
  opacity: 100%;
}

.user-profile .user-icon:active {
  transform: scale(0.95);
}

.user-icon {
  width: 4rem;
  border-radius: 50%;
  border: 0.3rem solid;
  color: #fff;
  opacity: 50%;
  cursor: pointer;
}

.user-profile p {
  color: #fff;
  font-size: 1.2rem;
  padding-top: 0.2rem;
}

/* ---- END ---- header profile  ---- */
