.system-status {
  padding: 0.75rem;
  max-width: 30%;
  min-width: 36rem;
  max-width: 65rem;
  background-color: rgb(209, 209, 209);

  position: relative;
}

.system-status-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  background-color: rgb(70, 70, 70);
  transform: translateX(-2.5%);
  width: 97%;
}
.system-status h1 {
  color: #fff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1.5rem;
}

button.system-status-collapse {
  width: 3.6rem;
  position: absolute;
  top: 0.7rem;
  right: 0.9rem;
  cursor: pointer;

  color: rgb(70, 70, 70);
}

.system-alerts-grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.system-alert {
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
  width: 25rem;
  display: flex;
  gap: 1rem;
  padding: 0.25rem;
}

.system-alert-type {
  font-size: 1.6rem;
  font-weight: 500;
}

.system-light {
  /* circle */
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  /* border */
  border: 1.5px solid grey;
}

.system-light-green {
  /* light */
  background: rgba(47, 204, 52, 0.7);
  /* inner lights */
  box-shadow: rgba(47, 204, 52, 0.7) 0 0 15px,
    inset rgba(255, 255, 255, 0.5) -1px 2px 1px,
    inset rgba(20, 20, 20, 0.2) 0 -10px 15px;
}

.system-light-yellow {
  /* light */
  background: rgba(244, 240, 12, 0.915);
  /* inner lights */
  box-shadow: rgba(244, 240, 12, 0.915) 0 0 15px,
    inset rgba(255, 255, 255, 0.5) -1px 2px 1px,
    inset rgba(20, 20, 20, 0.2) 0 -10px 15px;
}

.system-light-red {
  /* light */
  background: rgba(254, 35, 35, 0.926);
  /* inner lights */
  box-shadow: rgba(251, 8, 8, 0.817) 0 0 15px,
    inset rgba(255, 255, 255, 0.5) -1px 2px 1px,
    inset rgba(20, 20, 20, 0.2) 0 -10px 15px;
}
