#source-website-setting-body {
  overflow: hidden;
}

/* Style for the form container */
.form-container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 2rem;
}

/* Style for the form */
.webConfig-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
  overflow-y: scroll;
  height: calc(100vh - var(--headerHeight));
}

.webConfig-form > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.webConfig-form input {
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  background-color: #f0f0f0;
  flex-grow: 1;
}

.webConfig-form label {
  width: 25%;
  font-weight: bold;
}

.webConfig-form div {
  min-height: 2.5rem;
}

/* Style for the submit button */
form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Style for the submit button hover state */
form button[type="submit"]:hover {
  background-color: #0062cc;
}

/* Style for the form error messages */
.form-error {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}
